@charset "utf-8";

/*========================
         Mobile
==========================*/
@media screen and (max-width:768px) {

    header {
        /*height:auto;*/
        background: brown;
        position: relative;
    }
    nav ul {
        
	   flex-flow: column;
	   /*margin: 0;
	   padding: 6px;
	   list-style-type: none;*/
       
    }
    nav ul li {
        font-size: 0.8em;
        margin: 0;
        padding: 0;
        line-height: 1em;
        
    }

}/******** Mobile END ***********/
