@charset "UTF-8";
/*
#container>nav {
    position: absolute;
    top: 0;
}*/
#container>nav>ul {
  display: flex;
  margin: 20px 0;
  /*
  border: solid 1px blue;
  */  
}
#container>nav>ul>a {
  display: block;
  padding: 8px 0 7px 16px;
  background-color: #F9F9F9;
  border-top: 1px dotted #CCC;
  border-bottom: 1px dotted #FFF;
  cursor:pointer;
}
#container {
    /*position: relative;*/
}
